In [3]:
import pandas as pd

#Se puede crear un DataFrame de pandas utilizando el siguiente constructor:
#pandas.DataFrame( data, index, columns, dtype, copy)

In [2]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
data = [['Ale',10],['Pepe',12],['Zule',13]]
df = pd.DataFrame(data,columns=['Nombre','Edad'])
print (df)

  Nombre  Edad
0    Ale    10
1   Pepe    12
2   Zule    13

In [5]:
data = [['Ale',10],['Pepe',12],['Zule',13]]
df = pd.DataFrame(data,columns=['Nombre','Edad'], dtype=float)
print (df)

  Nombre  Edad
0    Ale  10.0
1   Pepe  12.0
2   Zule  13.0

In [6]:
data = {'Nombre':['Tomy', 'Juan', 'Silvio', 'Ricky'],'Edad':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

   Nombre  Edad
0    Tomy    28
1    Juan    34
2  Silvio    29
3   Ricky    42

In [7]:
data = {'Nombre':['Tomy', 'Juan', 'Silvio', 'Ricky'],'Edad':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

       Nombre  Edad
rank1    Tomy    28
rank2    Juan    34
rank3  Silvio    29
rank4   Ricky    42

In [8]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [11]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['primera', 'segunda'])
print (df)

         a   b     c
primera  1   2   NaN
segunda  5  10  20.0

In [13]:
# Observa que mientras el Data Frame df1 se crea con índices de columna iguales a las claves del diccionario
# agrega NaN. el Data Frame df2 se crea con un índice de columna que no es clave del diccionario, así se
# agregaron los NaN.
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['primera', 'segunda'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['primera', 'segunda'], columns=['a', 'b1'])
print (df1)
print ("")
print (df2)

         a   b
primera  1   2
segunda  5  10

         a  b1
primera  1 NaN
segunda  5 NaN

In [14]:
# Crear un Data Frame desde dict of Series: El diccionario de series se puede pasar para formar un 
# Data Frame. El índice resultante es la unión de todos los índices de serie pasados.

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [16]:
# Selección, adición y eliminación de columnas
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df)
print("")
print (df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [19]:
# Agregar una columnas
d = {'uno' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'dos' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print ("Agregar una nueva columna pasada como Series:\n")
df['tres']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print ("Agregar una nueva columna usando las columnas existentes en DataFrame:\n")
#suma columnas y crea una nueva columna con el resultado
df['cuatro']=df['uno'] + df['tres']
print(df)

Agregar una nueva columna pasada como Series:

   uno  dos  tres
a  1.0    1  10.0
b  2.0    2  20.0
c  3.0    3  30.0
d  NaN    4   NaN
Agregar una nueva columna usando las columnas existentes en DataFrame:

   uno  dos  tres  cuatro
a  1.0    1  10.0    11.0
b  2.0    2  20.0    22.0
c  3.0    3  30.0    33.0
d  NaN    4   NaN     NaN

In [22]:
d = {'uno' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'dos' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
'tres' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Nuestro Data Frame es:")
print (df)
print ("Eliminar la primera columna usando la función del:\n")
del df['uno']
print(df)
print ("Eliminar otra columna usando la función pop:\n")
df.pop('dos')
print(df)

Nuestro Data Frame es:
   uno  dos  tres
a  1.0    1  10.0
b  2.0    2  20.0
c  3.0    3  30.0
d  NaN    4   NaN
Eliminar la primera columna usando la función del:

   dos  tres
a    1  10.0
b    2  20.0
c    3  30.0
d    4   NaN
Eliminar otra columna usando la función pop:

   tres
a  10.0
b  20.0
c  30.0
d   NaN

In [23]:
# Selección por etiqueta
# El resultado es una serie con etiquetas como los nombres de columna del DataFrame. Y el nombre de
# la serie es la etiqueta con la que se recupera

d = {'uno' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'dos' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df)
print (df.loc['b'])

   uno  dos
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
uno    2.0
dos    2.0
Name: b, dtype: float64

In [24]:
# Selección por ubicación entera
# Las filas se pueden seleccionar pasando la ubicación entera a una función iloc

d = {'uno' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'dos' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print (df.iloc[2])

   uno  dos
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
uno    3.0
dos    3.0
Name: c, dtype: float64

In [25]:
# Selección de varias filas 

d = {'uno' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'dos' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print (df[2:4])

   uno  dos
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   uno  dos
c  3.0    3
d  NaN    4

In [28]:
# Adición de filas
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
print(f"{df} \n")
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [30]:
# Supresión de filas
# Si la etiqueta está duplicada, se eliminarán varias filas
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print(f"{df} \n")
df = df.append(df2)
print(f"{df} \n")
df = df.drop(0)
print(f"{df} \n")

   a  b
0  1  2
1  3  4

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8